body {
  background: linear-gradient(135deg, #00a6ac52, #a735949c);
  background-attachment: fixed;
  display: flexbox;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.form_h1, h2 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
}


h3 {
  font-size: medium;
  font-weight: 600;
}

.error-message {
  color: #cf2c2c;
  font-size: 12px;
  margin-top: -12px;
}

.form-container {
  max-width: 360px;
  width: 100%;
  background: #ffffff5b;
  border-radius: 15px;
  padding: 25px 25px;
  margin-top: 5%;
}

.container-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 2%; 
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

label {
  font-weight: 500;
  padding: 1%;
}

.form_input {
  padding: 5px;
  margin: 1% 0 5% 0;
  width: 20rem;
  font-size: 14px;
  line-height: 20px;
  border-width: 1px;
  border-color: #e6e3e3;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 11px;
  box-shadow: 0px 0px 1px rgba(242,242,242,.54);
}
.form_input:focus {
  outline:none;
}

.btn {
  font-size: 1rem;
  align-items: center;
  border: 0 none;
  border-radius: 25px;
  color: #fff;
  background-color: rgb(36, 199, 172);
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 3%;
  padding: 12px 20px;
  width: 30%;
}

.btn:hover {
  background-color: rgba(46, 143, 127, 0.808);
}

.btn-filter {
  font-size: 0.8rem;
  align-items: center;
  border: 0 none;
  border-radius: 25px;
  color: #fff;
  background-color: rgb(64, 65, 64);
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 1%;
  padding: 5px 10px;
  width: 30%;
}

.btn-filter:hover {
  background-color: rgba(151, 155, 154, 0.808);
}


.btn-vermais{
  font-size: 0.7rem;
  align-items: center;
  border: 0 none;
  border-radius: 25px;
  color: #1b1b1b;
  background-color: rgb(224, 224, 224);
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 1%;
  padding: 5px 7px;
  width: 20%;
}

.btn-vermais:hover {
  cursor: pointer;
  background-color: rgba(151, 155, 154, 0.808);
}

.modal {
  position: fixed;
  top: 5%;
  width: 360px;
  height: 50%;
  background-color: #fffffffa;
  padding: 25px 25px;
  border-radius: 15px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.modal .close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  
}

.modal .close:hover {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: #cf2c2c;
  
}